---
import Layout from '../../layouts/Layout.astro';
import MobileView, { ecell } from '../../components/special clubs/MobileView';
const buttonClass = 'club-button text-w px-4 py-2 rounded-lg lg:text-2xl';
import View from '../../components/special clubs/View.astro';
import {
  elan,
  milan,
  tedx,
  sunshine,
  ebsb,
  eml,
  tinkerer,
  fcc,
} from '../../components/special clubs/MobileView';

const elanLogo =
  'https://res.cloudinary.com/dwsverefw/image/upload/v1672775739/media%20council/orgs/el-org_gl5t0b.jpg';
const ecellLogo =
  'https://res.cloudinary.com/dwsverefw/image/upload/v1672775121/media%20council/orgs/e-org_b0tgvj.jpg';
const tedxLogo =
  'https://res.cloudinary.com/dwsverefw/image/upload/v1672775489/media%20council/orgs/t-org_g1scrw.jpg';
const milanLogo =
  'https://res.cloudinary.com/dwsverefw/image/upload/v1672774996/media%20council/orgs/m-org_wwyhcs.jpg';
// const fccLogo =
//   "https://res.cloudinary.com/dwsverefw/image/upload/v1672775388/media%20council/orgs/f-org_q2z8vx.jpg";
const sunshineLogo =
  'https://res.cloudinary.com/dwsverefw/image/upload/v1672775270/media%20council/orgs/s-ord_d7n8eb.jpg';
const ebsbLogo =
  'https://res.cloudinary.com/dwsverefw/image/upload/v1672987624/ecell/ebsb_cqwr9e.jpg';
const tinkererlogo = '#';
---

<Layout title={'Special Clubs'}>
  <div class="sm:hidden"><MobileView client:visible /></div>
  <div class="hidden sm:block">
    <div
      class="bg-p h-[4rem] lg:py-[3rem] lg:px-3 w-full text-white flex justify-center lg:justify-start items-center"
    >
      <ul class="flex gap-4 buttonsBar">
        <li>
          <button data-club="elan" class={buttonClass + ' active'}
            >Elan & nVision</button
          >
        </li>
        <li><button data-club="tedx" class={buttonClass}>Tedx IITH</button></li>
        <li><button data-club="ecell" class={buttonClass}>E-Cell</button></li>
        <li><button data-club="milan" class={buttonClass}>Milan</button></li>
        <li>
          <button data-club="sunshine" class={buttonClass}>Sunshine</button>
        </li>
        <li><button data-club="ebsb" class={buttonClass}>EBSB</button></li>
        <li><button data-club="eml" class={buttonClass}>EML</button></li>
        <li>
          <button data-club="tinkerer" class={buttonClass}>Tinkerers Lab</button
          >
        </li>
        <li><button data-club="fcc" class={buttonClass}>FCC</button></li>
      </ul>
    </div>
  </div>
  <div data-clubinfo="elan" class="hidden sm:block views">
    <View
      title="Elan & nVision"
      imgUrl={elanLogo}
      desc={elan}
      link={'https://elan.org.in'}
    />
  </div>
  <div data-clubinfo="tedx" class="hidden views">
    <View
      title="Tedx"
      imgUrl={tedxLogo}
      desc={tedx}
      link={'https://tedxiithyderabad.iith.ac.in'}
    />
  </div>
  <div data-clubinfo="ecell" class="hidden views">
    <View
      title="Entrepreneurship Cell"
      imgUrl={ecellLogo}
      desc={ecell}
      link={'https://ecell.iith.ac.in'}
    />
  </div>
  <div data-clubinfo="milan" class="hidden views">
    <View
      title="Milan"
      imgUrl={milanLogo}
      desc={milan}
      link={'https://gymkhana.iith.ac.in/milan'}
    />
  </div>
  <div data-clubinfo="sunshine" class="hidden views">
    <View
      title="Sunshine"
      imgUrl={sunshineLogo}
      desc={sunshine}
      link={'https://sunshine.iith.ac.in/'}
    />
  </div>
  <div data-clubinfo="ebsb" class="hidden views">
    <View
      title="Ek Bharat Shresht Bharat"
      imgUrl={ebsbLogo}
      desc={ebsb}
      link={'https://ebsb.iith.ac.in/'}
    />
  </div>
  <div data-clubinfo="eml" class="hidden views">
    <View
      title="Extra Mural Lectures"
      imgUrl={'/eml logo.png'}
      desc={eml}
      link={'https://eml.iith.ac.in/'}
    />
  </div>
  <div data-clubinfo="tinkerer" class="hidden views">
    <View
      title="Tinkerers Lab"
      imgUrl={'/tinkerer.png'}
      desc={tinkerer}
      link={'https://www.linkedin.com/in/tinkerers-lab-iith-1298a4190/?originalSubdomain=in'}
    />
  </div>
  <div data-clubinfo="fcc" class="hidden views">
    <View
      title="FCC"
      imgUrl={'/fcc.png'}
      desc={fcc}
      link={'https://www.linkedin.com/company/finance-and-consulting-club-iit-hyderabad/?originalSubdomain=in'}
    />
  </div>
</Layout>

<script is:inline>
  let currentView = 'elan';
  let activeButton = 'elan';
  const views = document.querySelectorAll('.views');
  const buttons = document.querySelectorAll('.club-button');

  function showViewForCurrentClub() {
    console.log(currentView);
    for (let view of views) {
      if (view.dataset.clubinfo === currentView) {
        view.style.display = 'block';
      } else {
        view.style.display = 'none';
      }
    }
  }

  function activateButton() {
    for (let button of buttons) {
      if (button.dataset.club === activeButton) {
        button.classList.add('active');
      } else {
        button.classList.remove('active');
      }
    }
  }

  for (let button of buttons) {
    button.addEventListener('click', (e) => {
      activeButton = e.target.dataset.club;
      currentView = activeButton;

      showViewForCurrentClub();
      activateButton();
    });
  }
</script>
