---
const {
  title = "Dummy",
  desc = "lore ipsum",
  imgUrl = "",
  link = "",
} = Astro.props;
---

<div
  data-club={title}
  class="grid grid-cols-3 gap-[1rem] lg:gap-4 px-[6rem] lg:px-[7rem] py-[3rem]"
>
  <div class="col-start-1 col-span-1">
    <div class="w-full relative flex justify-center items-center m-auto">
      <img src={imgUrl} alt={title} class="object-cover h-full" />
    </div>
  </div>
  <div class="col-start-2 col-span-2">
    <div
      class="h-full flex lg:items-center justify-center flex-col -right-6 relative"
    >
      <h2 class="text-4xl lg:text-7xl font-semibold text-center   ">{title}</h2>
      <br />
      <h2 class="text-2xl lg:text-4xl">IIT Hyderabad</h2>
    </div>
  </div>
  <div class="col-start-1 col-span-full">
    <p class="lg:text-lg text-md">
      {desc}
    </p>
  </div>
  <div class="col-start-1 col-span-full">
    <div>
      <a href={link} target="_blank" rel="noopener noreferrer"
        ><button class="py-2 px-0 text-2xl hover:border-b-4 border-black"
          >Website</button
        >
      </a>
    </div>
  </div>
</div>
